.countries__content__blocks
	&__item_right		
		display inline-block
		float left
		margin-left 20px
		width 620px
		
		&-three
			float left
			width 300px
			
		&-four
			float left
			width 300px
		
		&__latine
			position relative
			display inline-block			
			width 620px
			height 420px
			
			&__one
				//display none
				width 100%
				height 100%
				background url('../images/latine_america.jpg') no-repeat center 30%
				background-size cover
								
				&__overlay
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					z-index 2
					background rgba(3,21,36,.6)
					
					& h1
						display block
						margin-top 89px
						margin-left 35px
						font 32px/17px 'NewBaskervilleC', sans-serif
						color #fff 			
						
					& ul 
						margin-top 40px
						margin-left 35px
						
						& li						
							font 20px/17px 'NewBaskervilleC', sans-serif
							color #fff 	
							
							& + li
								margin-top 33px	
			
			