.countries__content__blocks__item__cuba.culture
	#slider
		.countries__content__blocks__item__cuba__one.slide.lazy(data-original='images/cuba.jpg')
			.countries__content__blocks__item__cuba__one__overlay
				h1 Cuba

		.countries__content__blocks__item__cuba__two.slide
			.countries__content__blocks__item__cuba__two__text
				h3 Хэмингуэй, став весьма знаменитым, 
					| естественно, мог выбрать любое место 
					| в мире. Почему же он  22 года прожил 
					| в Гаване? Потому что это свобода!
				h2 Cuba

		.countries__content__blocks__item__cuba__three.slide.lazy(data-original='images/cuba_three.jpg, images/icon_zoom.svg')
			.countries__content__blocks__item__cuba__three__overlay#popup_toggle
				h2 Cuba

		.countries__content__blocks__item__cuba__four.slide.lazy(data-original='images/cuba_four.jpg, images/icon_play.svg')
			.countries__content__blocks__item__cuba__four__overlay#video_toggle
				h2 Cuba
			
	.countries__content__blocks__item__cuba__first.clearfix
		#prewbutton.lazy(data-original='images/prev_slide.svg')
		#nextbutton.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__cuba_disable.disable
	.countries__content__blocks__item__cuba_disable__one.lazy(data-original='images/cuba.jpg')
		.countries__content__blocks__item__cuba_disable__one__overlay
			h1 Cuba