.countries__content__blocks__item__new-zealand.people.noCulture
	.countries__content__blocks__item__new-zealand__one.lazy(data-original='images/new-zealand.jpg')
		.countries__content__blocks__item__new-zealand__one__overlay
			h1 New Zealand

	.countries__content__blocks__item__new-zealand__first
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__new-zealand_disable.culture.noExtreme.noAtmosphere
	.countries__content__blocks__item__new-zealand_disable__one.lazy(data-original='images/new-zealand.jpg')
		.countries__content__blocks__item__new-zealand_disable__one__overlay
			h1 New Zealand