.countries__content__blocks__item__switzerland.noCulture.exstreme
	.countries__content__blocks__item__switzerland__one.lazy(data-original='images/switzerland.jpg')
		.countries__content__blocks__item__switzerland__one__overlay
			h1 Switzerland

	.countries__content__blocks__item__switzerland__first.clearfix
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__switzerland_disable.culture.noAtmosphere.noPeople
	.countries__content__blocks__item__switzerland_disable__one.lazy(data-original='images/switzerland.jpg')
		.countries__content__blocks__item__switzerland_disable__one__overlay
			h1 Switzerland