.countries__content__blocks__item__switzerland
	.countries__content__blocks__item__switzerland__one.lazy(data-original='images/switzerland.jpg')
		.countries__content__blocks__item__switzerland__one__overlay
			h1 Switzerland

	.countries__content__blocks__item__switzerland__first
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__switzerland_culture
	.countries__content__blocks__item__switzerland_culture__one.lazy(data-original='images/switzerland.jpg')
		.countries__content__blocks__item__switzerland_culture__one__overlay
			h1 Switzerland