.countries__content__blocks__item__india.culture
	.countries__content__blocks__item__india__one.lazy(data-original='images/india.jpg')
		.countries__content__blocks__item__india__one__overlay
			h1 India

	.countries__content__blocks__item__india__first.clearfix
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__india_disable.disable
	.countries__content__blocks__item__india_disable__one.lazy(data-original='images/india.jpg')
		.countries__content__blocks__item__india_disable__one__overlay
			h1 India