.countries__content__blocks__item__australia.noCulture.exstreme
	.countries__content__blocks__item__australia__one.lazy(data-original='images/australia.jpg')
		.countries__content__blocks__item__australia__one__overlay
			h1 Australia

	.countries__content__blocks__item__australia__first.clearfix
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__australia_disable.culture.noAtmosphere.noPeople
	.countries__content__blocks__item__australia_disable__one.lazy(data-original='images/australia.jpg')
		.countries__content__blocks__item__australia_disable__one__overlay
			h1 Australia