.countries__content__blocks__item__germany
	.countries__content__blocks__item__germany__one.lazy(data-original='images/germany.jpg')
		.countries__content__blocks__item__germany__one__overlay
			h1 Germany

	.countries__content__blocks__item__germany__first
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')