.countries__contant__blocks__item__cuba
	#slider
		#sc
			.countries__contant__blocks__item__cuba__one.f									
				.countries__contant__blocks__item__cuba__one__overlay 						
					h1 Cuba

			.countries__contant__blocks__item__cuba__two.f
				.countries__contant__blocks__item__cuba__two__text
					h3 Хэмингуэй, став весьма знаменитым, 
						| естественно, мог выбрать любое место 
						| в мире. Почему же он  22 года прожил 
						| в Гаване? Потому что это свобода!
					h2 Cuba	

			.countries__contant__blocks__item__cuba__three.f					
				a(class="countries__contant__blocks__item__cuba__three__zoom" href="")						
				.countries__contant__blocks__item__cuba__three__overlay
					h2 Cuba

			.countries__contant__blocks__item__cuba__four.f
				a(class="countries__contant__blocks__item__cuba__four__play" href="")
				.countries__contant__blocks__item__cuba__four__overlay
					h2 Cuba			
				
		.countries__contant__blocks__item__cuba__first
			a(class="left" href="")				
			a(class="right" href="")