.countries__content__blocks__item_right__latine
	.countries__content__blocks__item_right__latine__one.lazy(data-original='images/latine_america.jpg')
		.countries__content__blocks__item_right__latine__one__overlay
			h1 Latine America
			ul
				li 1.&#160;Honduras
				li 2.&#160;Columbia
				li 3.&#160;Panama
				li 4.&#160;Brazil
				li 5.&#160;Peru