.countries__content__blocks__item__japan
	.countries__content__blocks__item__japan__one.lazy(data-original='images/japan.jpg')
		.countries__content__blocks__item__japan__one__overlay
			h1 Japan

	.countries__content__blocks__item__japan__first
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')