.countries__content__blocks__item__england.culture
	.countries__content__blocks__item__england__one.lazy(data-original='images/england.jpg')
		.countries__content__blocks__item__england__one__overlay
			h1 England

	.countries__content__blocks__item__england__first.clearfix
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__england_disable.disable
	.countries__content__blocks__item__england_disable__one.lazy(data-original='images/england.jpg')
		.countries__content__blocks__item__england_disable__one__overlay
			h1 England