.countries__content__blocks__item__china.culture
	.countries__content__blocks__item__china__one.lazy(data-original='images/china.jpg')
		.countries__content__blocks__item__switzerland__one__overlay
		.countries__content__blocks__item__china__one__overlay
			h1 China

	.countries__content__blocks__item__china__first.clearfix
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__china_disable.disable
	.countries__content__blocks__item__china_disable__one.lazy(data-original='images/china.jpg')
		.countries__content__blocks__item__china_disable__one__overlay
			h1 China