.countries__content__blocks__item__finland
	.countries__content__blocks__item__finland__one.lazy(data-original='images/finland.jpg')
		.countries__content__blocks__item__finland__one__overlay
			h1 Finland

	.countries__content__blocks__item__finland__first
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')