.countries__content__blocks__item__finland.atmosphere.noCulture
	.countries__content__blocks__item__finland__one.lazy(data-original='images/finland.jpg')
		.countries__content__blocks__item__finland__one__overlay
			h1 Finland

	.countries__content__blocks__item__finland__first.clearfix
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')

.countries__content__blocks__item__finland_disable.culture.noExtreme.noPeople
	.countries__content__blocks__item__finland_disable__one.lazy(data-original='images/finland.jpg')
		.countries__content__blocks__item__finland_disable__one__overlay
			h1 Finland