.countries__content__blocks__item__norway
	.countries__content__blocks__item__norway__one.lazy(data-original='images/norway.jpg')
		.countries__content__blocks__item__norway__one__overlay
			h1 Norway

	.countries__content__blocks__item__norway__first
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')