.countries__content__blocks__item__russia
	.countries__content__blocks__item__russia__one.lazy(data-original='images/russia.jpg')
		.countries__content__blocks__item__russia__one__overlay
			h1 Russia

	.countries__content__blocks__item__russia__first
		.prev.lazy(data-original='images/prev_slide.svg')
		.next.lazy(data-original='images/next_slide.svg')