.countries
	.countries__content
		.countries__content__tooltip-filter.tooltip Работает по клику 
													span фильтр 
													| по странам
		ul.countries__content__filter.clearfix
			li.all.activ все страны
			li.culture культура
			li.exstreme экстрим
			li.atmosphere атмосфера
			li.people люди

		.countries__content__blocks.clearfix
			.countries__content__tooltip-content.tooltip Реализована 
														span отложенная 
														| загрузка фото и отображение
														| их на 
														span Retina 
														|экране. Контент 
														span адаптивен 
														| от 320px до бесконечности  													
			.countries__content__blocks__item.clearfix
				include blocks__item__cuba
				include blocks__item__russia
				include blocks__item__england
				include blocks__item__norway
				include blocks__item__switzerland
				include blocks__item__china
				include blocks__item__australia
				include blocks__item__india

			.countries__content__blocks__item_right.clearfix
				include blocks__item__latine_america
				include blocks__item__germany
				include blocks__item__japan
				include blocks__item__finland
				include blocks__item__new-zealand
