.header
	.header__content
		.header__content__wrapper.clearfix
			a(class='header__content__wrapper__logo' href='#')				
			.header__content__wrapper__text
				h1 adventure
				h3 оставь свой след, где его еще нет...