.f 
	display none!important
.ak 
	display block!important
	
.countries__contant__blocks
	margin-top 20px	
	
	&__item__cuba
		position relative
		display inline-block
		width 300px
		height 200px
		
		&__one
			//display none
			width 100%
			height 200px
			background url('../images/cuba.jpg') no-repeat center center
			background-size cover
							
			&__overlay
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				z-index 2
				background rgba(3,21,36,.6)
				
				& h1
					display block
					margin-top 89px
					font 32px/17px 'NewBaskervilleC', sans-serif
					color #fff 
					text-align center
		
		&__two
			//display none
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background #313336
			
			&__text
				padding-top 40px
				padding-left 17px
				
				& h3
					width 260px
					font 14px/22px 'PTSansRegular', sans-serif
					color #abaeb3
			
				& h2
					margin-top 30.5px
					font 24px/17px 'PTSansRegular', sans-serif
					color #fff
				
		&__three
			//display none
			width 100%
			height 100%	
			background url('../images/cuba_three.jpg') no-repeat center center
			background-size cover	
			
			&__zoom
				//display none
				position absolute
				top 50%
				left 50%
				margin-top -21px
				margin-left -21px
				width 42px
				height 42px
				background url('../images/icon_zoom.svg') no-repeat
				z-index 3								
			
			&__overlay
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				z-index 2
				background rgba(3,21,42,.2)				

				& h2
					margin-left 17px
					margin-top 156.5px
					font 24px/17px 'PTSansRegular', sans-serif
					color #fff
			
		&__four	
			//display none
			width 100%
			height 100%		
			background url('../images/cuba_four.jpg') no-repeat center 28%
			background-size cover
			
			&__play
				//display none				
				position absolute
				top 50%
				left 50%
				margin-top -21px
				margin-left -21px
				width 42px
				height 42px
				background url('../images/icon_play.svg') no-repeat
				z-index 3
					
			&__overlay
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				z-index 2
				background rgba(7,26,42,.2)			
				
				& h2
					margin-left 17px
					margin-top 156.5px
					font 24px/17px 'PTSansRegular', sans-serif
					color #fff

		&__first
			position absolute
			bottom 20px
			right 20px
			z-index 3
			
			& a
				display inline-block
				width 21px
				height 21px
				opacity .15
				
				&:hover
					opacity .3
				
				&.left										
					margin-right 15px					
					background url('../images/prev_slide.svg') no-repeat		
				
				&.right							
					background url('../images/next_slide.svg') no-repeat
		
	
		