.countries
	background #fff
	
	&__contant
		width 87.5%
		margin 0 auto
	
		&__filter
			margin-top 60px
			
			& li
				float left
				text-transform uppercase
				font 12px/16px 'PTSansRegular', sans-serif
				letter-spacing .05em				
				color #9fa2a8
				
				&.activ
					font 12px/16px 'PTSansBold', sans-serif	
					color #242526
					
					&:after
						content ''
						display block
						margin-top 3px
						height 2px
						background #242526	
				
				&:hover
					font 12px/16px 'PTSansBold', sans-serif	
					color #242526
				
					&:after
						content ''
						display block
						margin-top 3px
						height 2px
						background #242526					
			
				& + li
					margin-left 25px