.countries
	background #fff
	
	&__content
		width 87.5%
		margin 60px auto 80px
		
		@media (min-width: 1280px)
				width 1260px
					
		@media (max-width: 320px)
			margin 20px auto 0
			width 300px	
				
		&__filter
			
			@media (max-width: 320px)
				text-align left
						
			& li
				float left
				text-transform uppercase
				font 12px/16px 'PTSansBold', sans-serif
				letter-spacing .05em				
				color #9fa2a8
				cursor pointer
				
				&:after
						content ''
						display block
						margin-top 3px
						height 2px
						background transparent	
						
				@media (max-width: 320px)
					display inline-block
					float none
					margin-top 10px
									
				&.activ
					font 12px/16px 'PTSansBold', sans-serif	
					color #242526
					
					&:after
						content ''
						display block
						margin-top 3px
						height 2px
						background #242526	
				
				&:hover
					font 12px/16px 'PTSansBold', sans-serif	
					color #242526
				
					&:after
						content ''
						display block
						margin-top 3px
						height 2px
						background #242526					
			
				& + li
					margin-left 25px
					
					&:nth-child(4)
						@media (max-width: 320px)
							margin-left 0