.footer
	width 100%
	height 60px
	background #282a2d
		
	&__content
		width 87.5%	
		height 100%	
		margin 0 auto
		vertical-align center
		
		@media (min-width: 1260px)
			width 1260px
		
		@media (max-width: 320px)
			width 300px	
		
		& h3
			float left
			margin-top 21.5px
			font 16px/17px 'NewBaskervilleC', sans-serif
			color #6b7076
		
		& h4
			float right
			margin-top 21.5px
			font 14px/17px 'PTSansRegular', sans-serif
			color #6b7076
						
			@media (max-width: 320px)
				width 110px
				margin-top 13px
								
			& span				
				color #a7abaf
		
		& img
			float right
			margin-top 13.5px
			margin-left 10px
					
		&__wrapper__logo 
			display inline-block
			float left
			margin-top 12px	
			width 40px
			height 55px
			background url('../images/logo.svg') no-repeat			
		
		&__wrapper__text
			display inline-block
			float left	
			margin-top 25px
			margin-left 20px
		
			& h1
				font 32px/17px 'NewBaskervilleC', sans-serif
				color #fff	
			
			
				