@font-face {
  font-family: "NewBaskervilleC";
  src: url("../fonts/NewBaskervilleC.ttf");
}
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  cursor: default;
}
body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  background: transparent;
}
*:focus,
*:active,
*:hover {
  outline: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
ol,
ul {
  list-style: none;
}
pre {
  tab-size: 4;
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
}
input,
textarea {
  resize: none;
  user-select: text;
}
[placeholder]:focus::placeholder {
  color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.countries {
  background: #fff;
}
.countries__contant {
  width: 87.5%;
  margin: 0 auto;
}
.countries__contant__filter {
  margin-top: 60px;
}
.countries__contant__filter li {
  float: left;
  text-transform: uppercase;
  font: 12px/16px 'PTSansRegular', sans-serif;
  letter-spacing: 0.05em;
  color: #9fa2a8;
}
.countries__contant__filter li.activ {
  font: 12px/16px 'PTSansBold', sans-serif;
  color: #242526;
}
.countries__contant__filter li.activ:after {
  content: '';
  display: block;
  margin-top: 3px;
  height: 2px;
  background: #242526;
}
.countries__contant__filter li:hover {
  font: 12px/16px 'PTSansBold', sans-serif;
  color: #242526;
}
.countries__contant__filter li:hover:after {
  content: '';
  display: block;
  margin-top: 3px;
  height: 2px;
  background: #242526;
}
.countries__contant__filter li + li {
  margin-left: 25px;
}
.f {
  display: none !important;
}
.ak {
  display: block !important;
}
.countries__contant__blocks {
  margin-top: 20px;
}
.countries__contant__blocks__item__cuba {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
}
.countries__contant__blocks__item__cuba__one {
  width: 100%;
  height: 200px;
  background: url("../images/cuba.jpg") no-repeat center center;
  background-size: cover;
}
.countries__contant__blocks__item__cuba__one__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(3,21,36,0.6);
}
.countries__contant__blocks__item__cuba__one__overlay h1 {
  display: block;
  margin-top: 89px;
  font: 32px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
  text-align: center;
}
.countries__contant__blocks__item__cuba__two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #313336;
}
.countries__contant__blocks__item__cuba__two__text {
  padding-top: 40px;
  padding-left: 17px;
}
.countries__contant__blocks__item__cuba__two__text h3 {
  width: 260px;
  font: 14px/22px 'PTSansRegular', sans-serif;
  color: #abaeb3;
}
.countries__contant__blocks__item__cuba__two__text h2 {
  margin-top: 30.5px;
  font: 24px/17px 'PTSansRegular', sans-serif;
  color: #fff;
}
.countries__contant__blocks__item__cuba__three {
  width: 100%;
  height: 100%;
  background: url("../images/cuba_three.jpg") no-repeat center center;
  background-size: cover;
}
.countries__contant__blocks__item__cuba__three__zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  background: url("../images/icon_zoom.svg") no-repeat;
  z-index: 3;
}
.countries__contant__blocks__item__cuba__three__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(3,21,42,0.2);
}
.countries__contant__blocks__item__cuba__three__overlay h2 {
  margin-left: 17px;
  margin-top: 156.5px;
  font: 24px/17px 'PTSansRegular', sans-serif;
  color: #fff;
}
.countries__contant__blocks__item__cuba__four {
  width: 100%;
  height: 100%;
  background: url("../images/cuba_four.jpg") no-repeat center 28%;
  background-size: cover;
}
.countries__contant__blocks__item__cuba__four__play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  background: url("../images/icon_play.svg") no-repeat;
  z-index: 3;
}
.countries__contant__blocks__item__cuba__four__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(7,26,42,0.2);
}
.countries__contant__blocks__item__cuba__four__overlay h2 {
  margin-left: 17px;
  margin-top: 156.5px;
  font: 24px/17px 'PTSansRegular', sans-serif;
  color: #fff;
}
.countries__contant__blocks__item__cuba__first {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}
.countries__contant__blocks__item__cuba__first a {
  display: inline-block;
  width: 21px;
  height: 21px;
  opacity: 0.15;
}
.countries__contant__blocks__item__cuba__first a:hover {
  opacity: 0.3;
}
.countries__contant__blocks__item__cuba__first a.left {
  margin-right: 15px;
  background: url("../images/prev_slide.svg") no-repeat;
}
.countries__contant__blocks__item__cuba__first a.right {
  background: url("../images/next_slide.svg") no-repeat;
}
.header {
  width: 100%;
  height: 80px;
  background: #282a2d;
}
.header__content {
  width: 87.5%;
  height: 100%;
  margin: 0 auto;
  vertical-align: center;
}
.header__content__wrapper__logo {
  display: inline-block;
  float: left;
  margin-top: 12px;
  width: 40px;
  height: 55px;
  background: url("../images/logo.svg") no-repeat;
}
.header__content__wrapper__text {
  display: inline-block;
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}
.header__content__wrapper__text h1 {
  font: 32px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
}
.header__content__wrapper__text h3 {
  margin-top: 3.5px;
  font: 11px/16px 'PTSansRegular', sans-serif;
  color: #676b71;
}
