@font-face {
  font-family: "NewBaskervilleC";
  src: url("../fonts/NewBaskervilleC.ttf");
}
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  cursor: default;
}
body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  background: transparent;
}
*:focus,
*:active,
*:hover {
  outline: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
ol,
ul {
  list-style: none;
}
pre {
  tab-size: 4;
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
}
input,
textarea {
  resize: none;
  user-select: text;
}
[placeholder]:focus::placeholder {
  color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.countries__content__blocks__item__england,
.countries__content__blocks__item__england_disable,
.countries__content__blocks__item__switzerland,
.countries__content__blocks__item__switzerland_disable,
.countries__content__blocks__item__australia,
.countries__content__blocks__item__australia_disable,
.countries__content__blocks__item__germany,
.countries__content__blocks__item__germany_disable,
.countries__content__blocks__item__finland,
.countries__content__blocks__item__finland_disable {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 20px;
  width: 300px;
  height: 200px;
}
.countries__content__blocks__item__england__one,
.countries__content__blocks__item__england_disable__one,
.countries__content__blocks__item__switzerland__one,
.countries__content__blocks__item__switzerland_disable__one,
.countries__content__blocks__item__australia__one,
.countries__content__blocks__item__australia_disable__one,
.countries__content__blocks__item__germany__one,
.countries__content__blocks__item__germany_disable__one,
.countries__content__blocks__item__finland__one,
.countries__content__blocks__item__finland_disable__one {
  width: 100%;
  height: 100%;
  background: url("../images/england.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__england__one__overlay,
.countries__content__blocks__item__england_disable__one__overlay,
.countries__content__blocks__item__switzerland__one__overlay,
.countries__content__blocks__item__switzerland_disable__one__overlay,
.countries__content__blocks__item__australia__one__overlay,
.countries__content__blocks__item__australia_disable__one__overlay,
.countries__content__blocks__item__germany__one__overlay,
.countries__content__blocks__item__germany_disable__one__overlay,
.countries__content__blocks__item__finland__one__overlay,
.countries__content__blocks__item__finland_disable__one__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(3,21,36,0.6);
}
.countries__content__blocks__item__england__one__overlay h1,
.countries__content__blocks__item__england_disable__one__overlay h1,
.countries__content__blocks__item__switzerland__one__overlay h1,
.countries__content__blocks__item__switzerland_disable__one__overlay h1,
.countries__content__blocks__item__australia__one__overlay h1,
.countries__content__blocks__item__australia_disable__one__overlay h1,
.countries__content__blocks__item__germany__one__overlay h1,
.countries__content__blocks__item__germany_disable__one__overlay h1,
.countries__content__blocks__item__finland__one__overlay h1,
.countries__content__blocks__item__finland_disable__one__overlay h1 {
  display: block;
  margin-top: 91.5px;
  font: 36px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
  text-align: center;
}
.countries__content__blocks__item__england__first,
.countries__content__blocks__item__england_disable__first,
.countries__content__blocks__item__switzerland__first,
.countries__content__blocks__item__switzerland_disable__first,
.countries__content__blocks__item__australia__first,
.countries__content__blocks__item__australia_disable__first,
.countries__content__blocks__item__germany__first,
.countries__content__blocks__item__germany_disable__first,
.countries__content__blocks__item__finland__first,
.countries__content__blocks__item__finland_disable__first {
  position: absolute;
  bottom: 19px;
  right: 20px;
  height: 21px;
  z-index: 3;
}
.countries__content__blocks__item__england__first .prev,
.countries__content__blocks__item__england_disable__first .prev,
.countries__content__blocks__item__switzerland__first .prev,
.countries__content__blocks__item__switzerland_disable__first .prev,
.countries__content__blocks__item__australia__first .prev,
.countries__content__blocks__item__australia_disable__first .prev,
.countries__content__blocks__item__germany__first .prev,
.countries__content__blocks__item__germany_disable__first .prev,
.countries__content__blocks__item__finland__first .prev,
.countries__content__blocks__item__finland_disable__first .prev {
  float: left;
  width: 21px;
  height: 21px;
  opacity: 0.15;
  margin-right: 16px;
  background: url("../images/prev_slide.svg") no-repeat;
  cursor: pointer;
}
.countries__content__blocks__item__england__first .prev:hover,
.countries__content__blocks__item__england_disable__first .prev:hover,
.countries__content__blocks__item__switzerland__first .prev:hover,
.countries__content__blocks__item__switzerland_disable__first .prev:hover,
.countries__content__blocks__item__australia__first .prev:hover,
.countries__content__blocks__item__australia_disable__first .prev:hover,
.countries__content__blocks__item__germany__first .prev:hover,
.countries__content__blocks__item__germany_disable__first .prev:hover,
.countries__content__blocks__item__finland__first .prev:hover,
.countries__content__blocks__item__finland_disable__first .prev:hover {
  opacity: 0.3;
}
.countries__content__blocks__item__england__first .next,
.countries__content__blocks__item__england_disable__first .next,
.countries__content__blocks__item__switzerland__first .next,
.countries__content__blocks__item__switzerland_disable__first .next,
.countries__content__blocks__item__australia__first .next,
.countries__content__blocks__item__australia_disable__first .next,
.countries__content__blocks__item__germany__first .next,
.countries__content__blocks__item__germany_disable__first .next,
.countries__content__blocks__item__finland__first .next,
.countries__content__blocks__item__finland_disable__first .next {
  float: right;
  width: 21px;
  height: 21px;
  opacity: 0.15;
  background: url("../images/next_slide.svg") no-repeat;
  cursor: pointer;
}
.countries__content__blocks__item__england__first .next:hover,
.countries__content__blocks__item__england_disable__first .next:hover,
.countries__content__blocks__item__switzerland__first .next:hover,
.countries__content__blocks__item__switzerland_disable__first .next:hover,
.countries__content__blocks__item__australia__first .next:hover,
.countries__content__blocks__item__australia_disable__first .next:hover,
.countries__content__blocks__item__germany__first .next:hover,
.countries__content__blocks__item__germany_disable__first .next:hover,
.countries__content__blocks__item__finland__first .next:hover,
.countries__content__blocks__item__finland_disable__first .next:hover {
  opacity: 0.3;
}
.countries__content__blocks__item__switzerland__one {
  background: url("../images/switzerland.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__australia__one {
  background: url("../images/australia.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__germany__one {
  background: url("../images/germany.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__finland__one {
  background: url("../images/finland.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__england_disable,
.countries__content__blocks__item__switzerland_disable,
.countries__content__blocks__item__australia_disable,
.countries__content__blocks__item__germany_disable,
.countries__content__blocks__item__finland_disable {
  display: none;
}
.countries__content__blocks__item__england_disable__one,
.countries__content__blocks__item__switzerland_disable__one,
.countries__content__blocks__item__australia_disable__one,
.countries__content__blocks__item__germany_disable__one,
.countries__content__blocks__item__finland_disable__one {
  margin-top: 20px;
  margin-left: 30px;
  width: 240px;
  height: 160px;
}
.countries__content__blocks__item__england_disable__one__overlay,
.countries__content__blocks__item__switzerland_disable__one__overlay,
.countries__content__blocks__item__australia_disable__one__overlay,
.countries__content__blocks__item__germany_disable__one__overlay,
.countries__content__blocks__item__finland_disable__one__overlay {
  top: 20px;
  left: 30px;
  width: 240px;
  height: 160px;
  background: rgba(191,194,198,0.92);
}
.countries__content__blocks__item__england_disable__one__overlay h1,
.countries__content__blocks__item__switzerland_disable__one__overlay h1,
.countries__content__blocks__item__australia_disable__one__overlay h1,
.countries__content__blocks__item__germany_disable__one__overlay h1,
.countries__content__blocks__item__finland_disable__one__overlay h1 {
  margin-top: 71.5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .countries__content__blocks__item__england {
    background: url("../images/england@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__switzerland {
    background: url("../images/switzerland@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__australia {
    background: url("../images/australia@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__germany {
    background: url("../images/germany@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__finland {
    background: url("../images/finland@2x.jpg") no-repeat center center;
  }
}
.countries__content__blocks__item_right {
  display: inline-block;
  float: left;
  margin-left: 20px;
  width: 620px;
}
.countries__content__blocks__item_right-three {
  float: left;
  width: 300px;
}
.countries__content__blocks__item_right-four {
  float: left;
  margin-left: 20px;
  width: 300px;
}
.countries__content__blocks__item_right__latine,
.countries__content__blocks__item_right__latine_disable {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  height: 420px;
  text-align: left;
}
.countries__content__blocks__item_right__latine__one,
.countries__content__blocks__item_right__latine_disable__one {
  width: 100%;
  height: 100%;
  background: url("../images/latine_america.jpg") no-repeat center 30%;
  background-size: cover;
}
.countries__content__blocks__item_right__latine__one__overlay,
.countries__content__blocks__item_right__latine_disable__one__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(3,21,36,0.6);
}
.countries__content__blocks__item_right__latine__one__overlay h1,
.countries__content__blocks__item_right__latine_disable__one__overlay h1 {
  display: block;
  margin-top: 91.5px;
  margin-left: 30px;
  font: 40px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
}
.countries__content__blocks__item_right__latine__one__overlay ul,
.countries__content__blocks__item_right__latine_disable__one__overlay ul {
  margin-top: 54.5px;
  margin-left: 43px;
}
.countries__content__blocks__item_right__latine__one__overlay ul li,
.countries__content__blocks__item_right__latine_disable__one__overlay ul li {
  font: 20px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
}
.countries__content__blocks__item_right__latine__one__overlay ul li + li,
.countries__content__blocks__item_right__latine_disable__one__overlay ul li + li {
  margin-top: 30px;
}
@media (max-width: 1239px) and (min-width: 320px) {
  .countries__content__blocks__item_right__latine,
  .countries__content__blocks__item_right__latine_disable {
    margin-top: 18px;
  }
}
@media (max-width: 639px) and (min-width: 320px) {
  .countries__content__blocks__item_right {
    width: 300px;
    float: none;
    margin-left: 0;
  }
}
@media (max-width: 1259px) and (min-width: 640px) {
  .countries__content__blocks__item_right {
    float: none;
    margin-left: 0;
  }
}
.countries__content__blocks__item_right__latine_disable {
  display: none;
}
.countries__content__blocks__item_right__latine_disable__one {
  margin-top: 20px;
  margin-left: 30px;
  width: 560px;
  height: 380px;
}
.countries__content__blocks__item_right__latine_disable__one__overlay {
  top: 20px;
  left: 30px;
  width: 560px;
  height: 380px;
  background: rgba(191,194,198,0.92);
}
.countries__content__blocks__item_right__latine_disable__one__overlay h1 {
  margin-top: 71.5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .countries__content__blocks__item_right__one {
    background: url("../images/latine_america@2x.jpg") no-repeat center 30%;
  }
}
.countries__content__blocks__item__russia,
.countries__content__blocks__item__russia_disable,
.countries__content__blocks__item__norway,
.countries__content__blocks__item__norway_disable,
.countries__content__blocks__item__china,
.countries__content__blocks__item__china_disable,
.countries__content__blocks__item__india,
.countries__content__blocks__item__india_disable,
.countries__content__blocks__item__japan,
.countries__content__blocks__item__japan_disable,
.countries__content__blocks__item__new-zealand,
.countries__content__blocks__item__new-zealand_disable {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 20px;
  width: 300px;
  height: 200px;
}
.countries__content__blocks__item__russia__one,
.countries__content__blocks__item__russia_disable__one,
.countries__content__blocks__item__norway__one,
.countries__content__blocks__item__norway_disable__one,
.countries__content__blocks__item__china__one,
.countries__content__blocks__item__china_disable__one,
.countries__content__blocks__item__india__one,
.countries__content__blocks__item__india_disable__one,
.countries__content__blocks__item__japan__one,
.countries__content__blocks__item__japan_disable__one,
.countries__content__blocks__item__new-zealand__one,
.countries__content__blocks__item__new-zealand_disable__one {
  width: 100%;
  height: 100%;
  background: url("../images/russia.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__russia__one__overlay,
.countries__content__blocks__item__russia_disable__one__overlay,
.countries__content__blocks__item__norway__one__overlay,
.countries__content__blocks__item__norway_disable__one__overlay,
.countries__content__blocks__item__china__one__overlay,
.countries__content__blocks__item__china_disable__one__overlay,
.countries__content__blocks__item__india__one__overlay,
.countries__content__blocks__item__india_disable__one__overlay,
.countries__content__blocks__item__japan__one__overlay,
.countries__content__blocks__item__japan_disable__one__overlay,
.countries__content__blocks__item__new-zealand__one__overlay,
.countries__content__blocks__item__new-zealand_disable__one__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(3,21,36,0.6);
}
.countries__content__blocks__item__russia__one__overlay h1,
.countries__content__blocks__item__russia_disable__one__overlay h1,
.countries__content__blocks__item__norway__one__overlay h1,
.countries__content__blocks__item__norway_disable__one__overlay h1,
.countries__content__blocks__item__china__one__overlay h1,
.countries__content__blocks__item__china_disable__one__overlay h1,
.countries__content__blocks__item__india__one__overlay h1,
.countries__content__blocks__item__india_disable__one__overlay h1,
.countries__content__blocks__item__japan__one__overlay h1,
.countries__content__blocks__item__japan_disable__one__overlay h1,
.countries__content__blocks__item__new-zealand__one__overlay h1,
.countries__content__blocks__item__new-zealand_disable__one__overlay h1 {
  display: block;
  margin-top: 91.5px;
  font: 36px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
  text-align: center;
}
.countries__content__blocks__item__russia__first,
.countries__content__blocks__item__russia_disable__first,
.countries__content__blocks__item__norway__first,
.countries__content__blocks__item__norway_disable__first,
.countries__content__blocks__item__china__first,
.countries__content__blocks__item__china_disable__first,
.countries__content__blocks__item__india__first,
.countries__content__blocks__item__india_disable__first,
.countries__content__blocks__item__japan__first,
.countries__content__blocks__item__japan_disable__first,
.countries__content__blocks__item__new-zealand__first,
.countries__content__blocks__item__new-zealand_disable__first {
  position: absolute;
  bottom: 19px;
  right: 20px;
  height: 21px;
  z-index: 3;
}
.countries__content__blocks__item__russia__first .prev,
.countries__content__blocks__item__russia_disable__first .prev,
.countries__content__blocks__item__norway__first .prev,
.countries__content__blocks__item__norway_disable__first .prev,
.countries__content__blocks__item__china__first .prev,
.countries__content__blocks__item__china_disable__first .prev,
.countries__content__blocks__item__india__first .prev,
.countries__content__blocks__item__india_disable__first .prev,
.countries__content__blocks__item__japan__first .prev,
.countries__content__blocks__item__japan_disable__first .prev,
.countries__content__blocks__item__new-zealand__first .prev,
.countries__content__blocks__item__new-zealand_disable__first .prev {
  float: left;
  width: 21px;
  height: 21px;
  opacity: 0.15;
  margin-right: 16px;
  background: url("../images/prev_slide.svg") no-repeat;
  cursor: pointer;
}
.countries__content__blocks__item__russia__first .prev:hover,
.countries__content__blocks__item__russia_disable__first .prev:hover,
.countries__content__blocks__item__norway__first .prev:hover,
.countries__content__blocks__item__norway_disable__first .prev:hover,
.countries__content__blocks__item__china__first .prev:hover,
.countries__content__blocks__item__china_disable__first .prev:hover,
.countries__content__blocks__item__india__first .prev:hover,
.countries__content__blocks__item__india_disable__first .prev:hover,
.countries__content__blocks__item__japan__first .prev:hover,
.countries__content__blocks__item__japan_disable__first .prev:hover,
.countries__content__blocks__item__new-zealand__first .prev:hover,
.countries__content__blocks__item__new-zealand_disable__first .prev:hover {
  opacity: 0.3;
}
.countries__content__blocks__item__russia__first .next,
.countries__content__blocks__item__russia_disable__first .next,
.countries__content__blocks__item__norway__first .next,
.countries__content__blocks__item__norway_disable__first .next,
.countries__content__blocks__item__china__first .next,
.countries__content__blocks__item__china_disable__first .next,
.countries__content__blocks__item__india__first .next,
.countries__content__blocks__item__india_disable__first .next,
.countries__content__blocks__item__japan__first .next,
.countries__content__blocks__item__japan_disable__first .next,
.countries__content__blocks__item__new-zealand__first .next,
.countries__content__blocks__item__new-zealand_disable__first .next {
  float: right;
  width: 21px;
  height: 21px;
  opacity: 0.15;
  background: url("../images/next_slide.svg") no-repeat;
  cursor: pointer;
}
.countries__content__blocks__item__russia__first .next:hover,
.countries__content__blocks__item__russia_disable__first .next:hover,
.countries__content__blocks__item__norway__first .next:hover,
.countries__content__blocks__item__norway_disable__first .next:hover,
.countries__content__blocks__item__china__first .next:hover,
.countries__content__blocks__item__china_disable__first .next:hover,
.countries__content__blocks__item__india__first .next:hover,
.countries__content__blocks__item__india_disable__first .next:hover,
.countries__content__blocks__item__japan__first .next:hover,
.countries__content__blocks__item__japan_disable__first .next:hover,
.countries__content__blocks__item__new-zealand__first .next:hover,
.countries__content__blocks__item__new-zealand_disable__first .next:hover {
  opacity: 0.3;
}
@media (max-width: 639px) and (min-width: 320px) {
  .countries__content__blocks__item__russia,
  .countries__content__blocks__item__russia_disable,
  .countries__content__blocks__item__norway,
  .countries__content__blocks__item__norway_disable,
  .countries__content__blocks__item__china,
  .countries__content__blocks__item__china_disable,
  .countries__content__blocks__item__india,
  .countries__content__blocks__item__india_disable,
  .countries__content__blocks__item__japan,
  .countries__content__blocks__item__japan_disable,
  .countries__content__blocks__item__new-zealand,
  .countries__content__blocks__item__new-zealand_disable {
    margin-left: 0;
    margin-top: 20px;
  }
}
.countries__content__blocks__item__norway {
  margin-top: 20px;
}
.countries__content__blocks__item__norway__one {
  background: url("../images/norway.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__china {
  margin-top: 20px;
}
.countries__content__blocks__item__china__one {
  background: url("../images/china.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__india {
  margin-top: 20px;
}
.countries__content__blocks__item__india__one {
  background: url("../images/india.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__japan {
  margin-top: 20px;
}
.countries__content__blocks__item__japan__one {
  background: url("../images/japan.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__new-zealand {
  margin-top: 20px;
}
.countries__content__blocks__item__new-zealand__one {
  background: url("../images/new-zealand.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__russia_disable,
.countries__content__blocks__item__norway_disable,
.countries__content__blocks__item__china_disable,
.countries__content__blocks__item__india_disable,
.countries__content__blocks__item__japan_disable,
.countries__content__blocks__item__new-zealand_disable {
  display: none;
  margin-top: 20px;
}
.countries__content__blocks__item__russia_disable__one,
.countries__content__blocks__item__norway_disable__one,
.countries__content__blocks__item__china_disable__one,
.countries__content__blocks__item__india_disable__one,
.countries__content__blocks__item__japan_disable__one,
.countries__content__blocks__item__new-zealand_disable__one {
  margin-top: 20px;
  margin-left: 30px;
  width: 240px;
  height: 160px;
}
.countries__content__blocks__item__russia_disable__one__overlay,
.countries__content__blocks__item__norway_disable__one__overlay,
.countries__content__blocks__item__china_disable__one__overlay,
.countries__content__blocks__item__india_disable__one__overlay,
.countries__content__blocks__item__japan_disable__one__overlay,
.countries__content__blocks__item__new-zealand_disable__one__overlay {
  top: 20px;
  left: 30px;
  width: 240px;
  height: 160px;
  background: rgba(191,194,198,0.92);
}
.countries__content__blocks__item__russia_disable__one__overlay h1,
.countries__content__blocks__item__norway_disable__one__overlay h1,
.countries__content__blocks__item__china_disable__one__overlay h1,
.countries__content__blocks__item__india_disable__one__overlay h1,
.countries__content__blocks__item__japan_disable__one__overlay h1,
.countries__content__blocks__item__new-zealand_disable__one__overlay h1 {
  margin-top: 71.5px;
}
.countries__content__blocks__item__russia_disable {
  margin-top: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .countries__content__blocks__item__russia {
    background: url("../images/russia@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__norway {
    background: url("../images/norway@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__china {
    background: url("../images/china@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__india {
    background: url("../images/india@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__japan {
    background: url("../images/japan@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__new-zealand {
    background: url("../images/new-zealand@2x.jpg") no-repeat center center;
  }
}
.countries {
  background: #fff;
}
.countries__content {
  width: 87.5%;
  margin: 60px auto 80px;
}
@media (min-width: 1280px) {
  .countries__content {
    width: 1260px;
  }
}
@media (max-width: 320px) {
  .countries__content {
    margin: 20px auto 0;
    width: 300px;
  }
}
@media (max-width: 320px) {
  .countries__content__filter {
    text-align: left;
  }
}
.countries__content__filter li {
  float: left;
  text-transform: uppercase;
  font: 12px/16px 'PTSansBold', sans-serif;
  letter-spacing: 0.05em;
  color: #9fa2a8;
  cursor: pointer;
}
.countries__content__filter li:after {
  content: '';
  display: block;
  margin-top: 3px;
  height: 2px;
  background: transparent;
}
@media (max-width: 320px) {
  .countries__content__filter li {
    display: inline-block;
    float: none;
    margin-top: 10px;
  }
}
.countries__content__filter li.activ {
  font: 12px/16px 'PTSansBold', sans-serif;
  color: #242526;
}
.countries__content__filter li.activ:after {
  content: '';
  display: block;
  margin-top: 3px;
  height: 2px;
  background: #242526;
}
.countries__content__filter li + li {
  margin-left: 25px;
}
@media (max-width: 320px) {
  .countries__content__filter li + li:nth-child(4) {
    margin-left: 0;
  }
}
.countries__content__blocks {
  margin-top: 20px;
  text-align: center;
}
.countries__content__blocks__item {
  display: inline-block;
  float: left;
  width: 620px;
}
.countries__content__blocks__item-one {
  float: left;
  width: 300px;
}
.countries__content__blocks__item__cuba,
.countries__content__blocks__item__cuba_disable {
  position: relative;
  display: inline-block;
  float: left;
  width: 300px;
  height: 200px;
  margin-left: 0;
}
.countries__content__blocks__item__cuba__one,
.countries__content__blocks__item__cuba_disable__one {
  width: 100%;
  height: 200px;
  background: url("../images/cuba.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__cuba__one__overlay,
.countries__content__blocks__item__cuba_disable__one__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(3,21,36,0.6);
}
.countries__content__blocks__item__cuba__one__overlay h1,
.countries__content__blocks__item__cuba_disable__one__overlay h1 {
  display: block;
  margin-top: 91.5px;
  font: 36px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
  text-align: center;
}
.countries__content__blocks__item__cuba__two,
.countries__content__blocks__item__cuba_disable__two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #313336;
}
.countries__content__blocks__item__cuba__two__text,
.countries__content__blocks__item__cuba_disable__two__text {
  padding-top: 40px;
  padding-left: 17px;
}
.countries__content__blocks__item__cuba__two__text h3,
.countries__content__blocks__item__cuba_disable__two__text h3 {
  width: 260px;
  font: 14px/22px 'PTSansRegular', sans-serif;
  color: #abaeb3;
}
.countries__content__blocks__item__cuba__two__text h2,
.countries__content__blocks__item__cuba_disable__two__text h2 {
  margin-top: 29px;
  font: 24px/17px 'PTSansRegular', sans-serif;
  color: #fff;
}
.countries__content__blocks__item__cuba__three,
.countries__content__blocks__item__cuba_disable__three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/cuba_three.jpg") no-repeat center center;
  background-size: cover;
}
.countries__content__blocks__item__cuba__three__overlay,
.countries__content__blocks__item__cuba_disable__three__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(3,21,42,0.2);
}
.countries__content__blocks__item__cuba__three__overlay:hover,
.countries__content__blocks__item__cuba_disable__three__overlay:hover {
  background: rgba(3,21,42,0.2) url("../images/icon_zoom.svg") no-repeat center center;
  background-size: 42px 42px;
  cursor: pointer;
}
.countries__content__blocks__item__cuba__three__overlay h2,
.countries__content__blocks__item__cuba_disable__three__overlay h2 {
  margin-left: 17px;
  margin-top: 156.5px;
  font: 24px/17px 'PTSansRegular', sans-serif;
  color: #fff;
}
.countries__content__blocks__item__cuba__four,
.countries__content__blocks__item__cuba_disable__four {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/cuba_four.jpg") no-repeat center 28%;
  background-size: cover;
}
.countries__content__blocks__item__cuba__four__overlay,
.countries__content__blocks__item__cuba_disable__four__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(7,26,42,0.2);
}
.countries__content__blocks__item__cuba__four__overlay:hover,
.countries__content__blocks__item__cuba_disable__four__overlay:hover {
  background: rgba(7,26,42,0.2) url("../images/icon_play.svg") no-repeat center center;
  background-size: 42px 42px;
  cursor: pointer;
}
.countries__content__blocks__item__cuba__four__overlay h2,
.countries__content__blocks__item__cuba_disable__four__overlay h2 {
  margin-left: 17px;
  margin-top: 156.5px;
  font: 24px/17px 'PTSansRegular', sans-serif;
  color: #fff;
}
.countries__content__blocks__item__cuba__first,
.countries__content__blocks__item__cuba_disable__first {
  position: absolute;
  bottom: 19px;
  right: 20px;
  height: 21px;
  z-index: 3;
}
.countries__content__blocks__item__cuba__first #prewbutton,
.countries__content__blocks__item__cuba_disable__first #prewbutton {
  float: left;
  width: 21px;
  height: 21px;
  opacity: 0.15;
  margin-right: 16px;
  background: url("../images/prev_slide.svg") no-repeat;
  cursor: pointer;
}
.countries__content__blocks__item__cuba__first #prewbutton:hover,
.countries__content__blocks__item__cuba_disable__first #prewbutton:hover {
  opacity: 0.3;
}
.countries__content__blocks__item__cuba__first #nextbutton,
.countries__content__blocks__item__cuba_disable__first #nextbutton {
  float: right;
  width: 21px;
  height: 21px;
  opacity: 0.15;
  background: url("../images/next_slide.svg") no-repeat;
  cursor: pointer;
}
.countries__content__blocks__item__cuba__first #nextbutton:hover,
.countries__content__blocks__item__cuba_disable__first #nextbutton:hover {
  opacity: 0.3;
}
.countries__content__blocks__item__item__new-zealand,
.countries__content__blocks__item margin-top 20px,
.countries__content__blocks__item__one {
  background: url("../images/new-zealand.jpg") no-repeat center center;
  background-size: cover;
}
@media (max-width: 639px) and (min-width: 320px) {
  .countries__content__blocks__item {
    width: 300px;
    float: none;
  }
}
@media (max-width: 1259px) and (min-width: 640px) {
  .countries__content__blocks__item {
    float: none;
  }
}
.countries__content__blocks__item__cuba_disable {
  display: none;
}
.countries__content__blocks__item__cuba_disable__one {
  margin-top: 20px;
  margin-left: 30px;
  width: 240px;
  height: 160px;
}
.countries__content__blocks__item__cuba_disable__one__overlay {
  top: 20px;
  left: 30px;
  width: 240px;
  height: 160px;
  background: rgba(191,194,198,0.92);
}
.countries__content__blocks__item__cuba_disable__one__overlay h1 {
  margin-top: 71.5px;
}
.popup_overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(20,26,31,0.9);
  text-align: center;
  z-index: 10;
}
@media (max-width: 509px) {
  .popup_overlay {
    display: none;
    background: transparent;
  }
}
.popup_overlay:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.popup_overlay .popup {
  position: relative;
  display: inline-block;
  width: 640px;
  height: 480px;
  background: url("../images/cuba_three.jpg") no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  z-index: 11;
}
@media (max-width: 509px) {
  .popup_overlay .popup {
    display: none;
  }
}
.popup_overlay .popup a {
  position: absolute;
  display: block;
  top: -35px;
  right: -35px;
  width: 30px;
  height: 30px;
  background: url("../images/icon_close.svg") no-repeat center center;
  opacity: 0.2;
  z-index: 11;
}
.popup_overlay .popup a:hover {
  opacity: 0.5;
}
@media (max-width: 710px) and (min-width: 510px) {
  .popup_overlay .popup {
    width: 440px;
    height: 248px;
  }
}
.video_overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(20,26,31,0.9);
  text-align: center;
  z-index: 10;
}
@media (max-width: 799px) {
  .video_overlay {
    display: none;
    background: transparent;
  }
}
.video_overlay:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.video_overlay .popup {
  position: relative;
  display: inline-block;
  width: 740px;
  height: 480px;
  background-size: cover;
  vertical-align: middle;
  z-index: 11;
}
@media (max-width: 799px) {
  .video_overlay .popup {
    display: none;
  }
}
.video_overlay .popup a {
  position: absolute;
  display: block;
  top: -35px;
  right: -35px;
  width: 30px;
  height: 30px;
  background: url("../images/icon_close.svg") no-repeat center center;
  opacity: 0.2;
  z-index: 11;
}
.video_overlay .popup a:hover {
  opacity: 0.5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .countries__content__blocks__item__cuba__one {
    background: url("../images/cuba@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__cuba__three {
    background: url("../images/cuba_three@2x.jpg") no-repeat center center;
  }
  .countries__content__blocks__item__cuba__four {
    background: url("../images/cuba_four@2x.jpg") no-repeat center 28%;
  }
}
.footer {
  width: 100%;
  height: 60px;
  background: #282a2d;
}
.footer__content {
  width: 87.5%;
  height: 100%;
  margin: 0 auto;
  vertical-align: center;
}
@media (min-width: 1280px) {
  .footer__content {
    width: 1260px;
  }
}
@media (max-width: 320px) {
  .footer__content {
    width: 300px;
  }
}
.footer__content h3 {
  float: left;
  margin-top: 21.5px;
  font: 16px/17px 'NewBaskervilleC', sans-serif;
  color: #6b7076;
}
.footer__content h4 {
  float: right;
  margin-top: 21.5px;
  font: 14px/17px 'PTSansRegular', sans-serif;
  color: #6b7076;
}
@media (max-width: 320px) {
  .footer__content h4 {
    width: 110px;
    margin-top: 13px;
  }
}
.footer__content h4 span {
  color: #a7abaf;
}
.footer__content img {
  float: right;
  margin-top: 13.5px;
  margin-left: 10px;
}
.footer__content__wrapper__logo {
  display: inline-block;
  float: left;
  margin-top: 12px;
  width: 40px;
  height: 55px;
  background: url("../images/logo.svg") no-repeat;
}
.footer__content__wrapper__text {
  display: inline-block;
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}
.footer__content__wrapper__text h1 {
  font: 32px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
}
.header {
  width: 100%;
  height: 80px;
  background: #282a2d;
}
.header:hover {
  background: #22539d;
}
.header__content {
  width: 87.5%;
  height: 100%;
  margin: 0 auto;
  vertical-align: center;
}
@media (min-width: 1280px) {
  .header__content {
    width: 1260px;
  }
}
@media (max-width: 320px) {
  .header__content {
    width: 300px;
  }
}
.header__content__wrapper__logo {
  display: inline-block;
  float: left;
  margin-top: 12px;
  margin-left: 8px;
  width: 40px;
  height: 55px;
  background: url("../images/logo.svg") no-repeat;
}
.header__content__wrapper__text {
  display: inline-block;
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}
.header__content__wrapper__text h1 {
  font: 32px/17px 'NewBaskervilleC', sans-serif;
  color: #fff;
}
.header__content__wrapper__text h3 {
  margin-top: 3.5px;
  font: 11px/16px 'PTSansRegular', sans-serif;
  color: #676b71;
}
